html, body{
    border: 0;
    margin: 0;
    padding: 0;
}

.formA{
    background-color: #fee4e0;
    padding: 3rem;
    min-height: 100vh;
}

.formMain{
    background-color: #fee4e0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    // height: 100vh;
}

.addOffice-form {
    max-width: 700px;
    width: 30rem;
    // margin: 2% auto;
    padding: 2rem;
    border: 1px solid transparent;
    background-color: #f9f0f0;
    border-radius: 1.5rem;
    


    h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .form-group {
        margin-bottom: 1rem;
        background-color: #fff;
        padding: 0.8rem 1rem;
        padding-bottom: 0.5rem;
        border-radius: 1.5rem;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type='text'],
        input[type='email'],
        input[type='file'] {
            width: 100%;
            padding: 10px 0;
            border: 1px solid none;
            border-radius: 0.5rem;
        }
        input{
            border: none;
            outline: none;
        }

        input:active{
            border: none;
            outline: none;
        }
    }

    button {
        background-color: #ff8b5d;
        color: #fff;
        border: none;
        width: 14rem;
        font-size: 1rem;
        padding: 10px 20px;
        margin: 0 auto;
        border-radius: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        // background-color: #ff5618;

        &:hover {
            background-color: #ff6f36;
        }
    }

    .btndiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}