.house-details {
    padding: 0 12%;
}

.house-title {
    margin-top: 2rem;

    h1 {
        font-weight: 600;

        font-size: 2.5rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;

        p {
            font-size: 1.5rem;
        }
    }
}

.gallery {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'first first . .'
        'first first . .';
    margin: 1rem 0;

    div img {
        width: 100%;
        display: block;
        border-radius: 0.5rem;
    }

    .gallery-img1 {
        grid-area: first;
    }
}

.small-details {
    h2 {
        font-weight: 500;
    }

    h4 {
        text-align: right;
        font-size: 1.5rem;
    }

    .booking {
        background: #ff5361;
        border: 0;
        outline: none;
        color: white;
        padding: 1rem;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 2%;
    }
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    max-width: 1200px;
    width: 100%;
    margin: 1rem 0 1.5rem;
}

.review {
    margin: 30px 0;
    background: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 1rem;
    }

    button {
        background: #ff5361;
        border: 0;
        outline: none;
        color: white;
        padding: 1rem;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;

    }
}

.details-list {
    list-style: none;
    margin: 2rem 0;

    li {
        font-weight: 500;
        font-size: 20px;
        color: #555;
        margin-left: 50px;
        margin-bottom: 20px;
        position: relative;

        span {
            display: block;
            font-weight: 400;
            font-size: 16px;
        }
    }
}

.home-desc {
    max-width: 55rem;
    margin-bottom: 2rem;
}

.confirm-booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;
    background: #f5f5f5;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;




}

@media only screen and (max-width: 700px) {
    .house-details {
        margin-top: 3rem;
    }

    .row {
        margin-top: 10px;
    }

    .gallery {
        grid-template-areas:
            'first first'
            '. .'
            '. .';
    }

    .small-details h2 {
        font-size: 20px;
        margin-top: 24px;
    }

    .small-details h4 {
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }

    .review {
        padding: 10px 30px;

        div {
            padding: 20px 0;
            width: 100%;
        }

        input {
            border-bottom: 1px solid #ccc;
            width: 100%;
            padding-bottom: 5px;
        }

        button {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 4px;
        }
    }

    .host {
        display: block;
        line-height: 28px;
    }

    .contact-host {
        margin: 40px 0;
    }

    .details-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 0;
        }
    }
}